<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./astess/css/extrnal/all.min.css">
  <link rel="stylesheet" href="./astess/css/extrnal/bootstrap.css">
  <link rel="stylesheet" href="./astess/css/style.css">
  <title>Document</title>
</head>
<body>
  <!-- =============start navber ================= -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./astess/img/logo.webp" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a href="#" id="btnClose"><i class="fa-solid fa-xmark"></i></a>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- =============end navber ================= -->

  <!-- =============start header ================= -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <div class="content-header">
            <h1>Let's Enjoy The Wonders of Nature</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta veritatis in tenetur doloremque, maiores doloribus officia iste. Dolores.</p>
            <div class="video">
              <a href="#"><i class="fa-solid fa-play"></i></a>
              <p>Watch the video</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- =============end header ================= -->

  <!-- =============start section-story ================= -->

  <section class="section-story">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="box-story">
            <div class="title">
              <p>DISCOVER STORY</p>
              <h3>Our Story</h3>
              <span>story</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quae expedita fugiat quo incidunt, possimus temporibus aperiam eum, quaerat sapiente.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis enim a pariatur molestiae.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-story">
            <img src="./astess/img/boy.jfif" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =============end section-story ================= -->

  <!-- =============start section-journey ================= -->

  <section class="section-journey">
    <div class="container">
      <div class="title mb-5">
        <p>JOURNEY</p>
        <h3>Your Journey Starts Here</h3>
        <span>JOURNEY</span>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <div class="box-img">
              <img src="./astess/img/1.webp" class="img-fluid" alt="">
            </div>
            <div class="content">
              <a href="#">$200.00</a>
              <p>Dignissimos debitis</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <div class="box-img">
              <img src="./astess/img/1.webp" class="img-fluid" alt="">
            </div>
            <div class="content">
              <a href="#">$200.00</a>
              <p>Dignissimos debitis</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <div class="box-img">
              <img src="./astess/img/1.webp" class="img-fluid" alt="">
            </div>
            <div class="content">
              <a href="#">$200.00</a>
              <p>Dignissimos debitis</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <div class="box-img">
              <img src="./astess/img/1.webp" class="img-fluid" alt="">
            </div>
            <div class="content">
              <a href="#">$200.00</a>
              <p>Dignissimos debitis</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <div class="box-img">
              <img src="./astess/img/1.webp" class="img-fluid" alt="">
            </div>
            <div class="content">
              <a href="#">$200.00</a>
              <p>Dignissimos debitis</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="box">
            <div class="box-img">
              <img src="./astess/img/1.webp" class="img-fluid" alt="">
            </div>
            <div class="content">
              <a href="#">$200.00</a>
              <p>Dignissimos debitis</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =============end section-journey ================= -->


  <!-- =============start section-team ================= -->
  <section class="section-team">
    <div class="container">
      <div class="title mb-5">
        <p>Amazing Staff</p>
        <h3>Meet Our Team</h3>
        <span>Our Team</span>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <img src="./astess/img/person_1.jpg.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">John Doe</h5>
              <span>STAFF</span>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, maiores? Eos alias fugit eius, repudiandae molestias error</p>
              <div class="card-icon">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <img src="./astess/img/person_1.jpg.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">John Doe</h5>
              <span>STAFF</span>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, maiores? Eos alias fugit eius, repudiandae molestias error</p>
              <div class="card-icon">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <img src="./astess/img/person_1.jpg.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">John Doe</h5>
              <span>STAFF</span>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, maiores? Eos alias fugit eius, repudiandae molestias error</p>
              <div class="card-icon">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- =============end section-team ================= -->


  <!-- =============start section-Customers ================= -->
  <section class="section-customers">
    <div class="container">
      <div class="title mb-5">
        <p>Amazing Staff</p>
        <h3>Meet Our Team</h3>
        <span>Our Team</span>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-6">
                <div class="customer-item">
                  <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <img src="./astess/img/cut.webp" alt="...">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, accusamus, facilis! Placeat praesentium alias porro aperiam facilis accusantium veniam?”</p>
                          <p class="card-text"><small class="text-muted">— John Doe</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customer-item">
                  <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <img src="./astess/img/cut.webp" alt="...">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, accusamus, facilis! Placeat praesentium alias porro aperiam facilis accusantium veniam?”</p>
                          <p class="card-text"><small class="text-muted">— John Doe</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="row">
              <div class="col-md-6">
                <div class="customer-item">
                  <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <img src="./astess/img/cut.webp" alt="...">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, accusamus, facilis! Placeat praesentium alias porro aperiam facilis accusantium veniam?”</p>
                          <p class="card-text"><small class="text-muted">— John Doe</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customer-item">
                  <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <img src="./astess/img/cut.webp" alt="...">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, accusamus, facilis! Placeat praesentium alias porro aperiam facilis accusantium veniam?”</p>
                          <p class="card-text"><small class="text-muted">— John Doe</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="row">
              <div class="col-md-6">
                <div class="customer-item">
                  <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <img src="./astess/img/cut.webp" alt="...">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, accusamus, facilis! Placeat praesentium alias porro aperiam facilis accusantium veniam?”</p>
                          <p class="card-text"><small class="text-muted">— John Doe</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="customer-item">
                  <div class="card mb-3">
                    <div class="row no-gutters">
                      <div class="col-md-2">
                        <img src="./astess/img/cut.webp" alt="...">
                      </div>
                      <div class="col-md-10">
                        <div class="card-body">
                          <p class="card-text">“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, accusamus, facilis! Placeat praesentium alias porro aperiam facilis accusantium veniam?”</p>
                          <p class="card-text"><small class="text-muted">— John Doe</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
    </div>
  </section>
  <!-- =============end section-Customers ================= -->

  <!-- =============start blog ================= -->
  <section class="blog">
    <div class="title mb-5">
      <p>Amazing Staff</p>
      <h3>Meet Our Team</h3>
      <span>Our Team</span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img src="./astess/img/2.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title">Lorem ipsum dolor sit amet</a>
              <p class="card-text"><span>July 17, 2019 </span>by Admin</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img src="./astess/img/2.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title">Lorem ipsum dolor sit amet</a>
              <p class="card-text"><span>July 17, 2019 </span>by Admin</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <img src="./astess/img/2.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="#" class="card-title">Lorem ipsum dolor sit amet</a>
              <p class="card-text"><span>July 17, 2019 </span>by Admin</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =============end blog ================= -->

  <!-- =============start section-bg ================= -->
  <section class="section-bg">
    <div class="content">
      <h3>Join and Trip With Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ut, doloremque quo molestiae nesciunt officiis veniam, beatae dignissimos!</p>
      <button class="btn">Get In Touch</button>
    </div>
  </section>
  <!-- =============end section-bg ================= -->

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 ">
          <h5>Instagram</h5>
          <div class="all-img">
            <a href="#"><img src="./astess/img/5.webp" alt=""></a>
            <a href="#"><img src="./astess/img/5.webp" alt=""></a>
            <a href="#"><img src="./astess/img/5.webp" alt=""></a>
            <a href="#"><img src="./astess/img/5.webp" alt=""></a>
            <a href="#"><img src="./astess/img/5.webp" alt=""></a>
            <a href="#"><img src="./astess/img/5.webp" alt=""></a>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <h5>Quick Links</h5>
              <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">About Us</a></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <h5>Newsletter</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt odio iure animi ullam quam, deleniti rem!</p>
              <form>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="email">
                  <button class="btn">send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="./astess/js/extrnal/jquery.min.js"></script>
  <script src="./astess/js/extrnal/bootstrap.js"></script>
  <script src="./astess/js/app.js"></script>
</body>
</html>